<header>
  <h1>Project 3</h1>
</header>

<nav>
  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">Contact</a>
</nav>

<section>
  <h2>Table</h2>

  <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Competency</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Arjun Pandit</td>
              <td>100</td>
              <td>Frontend</td>
          </tr>
          <tr>
            <td>Aditya Gangwar</td>
            <td>100</td>
            <td>Frontend</td>
          </tr>
          <tr>
            <td>Devansh Shukla</td>
            <td>100</td>
            <td>Frontend</td>
          </tr>
      </tbody>
  </table>
</section>